@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: 'Montserrat';

}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(img/background\ desktop.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #1d1d1d;
}

html::-webkit-scrollbar {
    width: 15px;

}

html::-webkit-scrollbar-track {


    background-color: #1d1d1d;
}

html::-webkit-scrollbar-thumb {
    background: #4e4e4e;
    border-radius: 25px;
}

a {
    text-decoration: none;
}

.main {
    -webkit-box-sizing: content-box;
    text-align: center;
}

.website {
    padding-left: 335px;
    margin-top: 20px;
    transition: 1s;
}

.profile {
    color: #f3f3f3;
    position: relative;
}

.pp {
    margin-top: 10px;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 100%;
    -o-object-position: 20%;
}

.profile h1 {
    margin-top: 15px;
    font-size: 24px;
}

.profile p {
    margin-top: 10px;
    font-size: 16px;
}


.m {
    margin-top: 15px;
    margin-left: 10px;
    transition: 1s;
}

.m:hover {
    transform: scale(1) rotate(360deg);
}


.content1 {
    margin-top: 40px;
}

.content1:hover {
    transform: scale(1.05);

}


.content2 {
    margin-top: 40px;

}

.content2:hover {
    transform: scale(1.05);

}


.content3 {
    margin-top: 40px;
    margin-bottom: 100px;
}

.content3:hover {
    transform: scale(1.05);
}